.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  height: auto;
}

.chart-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 400px;
}

.chart-title {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .charts {
    grid-template-columns: 1fr;
  }
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner h3 {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.card h1 {
  font-size: 30px;
  font-weight: 700;
  color: #4d4d4d;
  margin-top: 15px;
}

.card_icon {
  font-size: 28px;
  color: #6c5ce7;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-title h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .main-cards {
    grid-template-columns: 1fr;
  }
}