.image-upload-container {
  margin-bottom: 15px;
}

.image-preview {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.image-upload-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-button {
  background-color: var(--vitaneuf-blue);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.file-input-button:hover {
  background-color: #1a6985;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-name {
  margin-left: 10px;
  font-size: 0.9em;
  color: #666;
}



.total {
 /* Card styles */
  background-color: #a8dafe; /* Light blue */
  color: #0a0e13;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
  /* Optional: mimic card layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.available {
  background-color: #6eacb9; /* Light blue */
  color: #0e181b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
  /* Optional: mimic card layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories {
   background-color: #81c591; /* Light blue */
  color: #08090b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
  /* Optional: mimic card layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.out-of-stock {
  background-color: #e9ae7b; /* Light blue */
  color: #0e0c0b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
  /* Optional: mimic card layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
